.ship-form {
    margin:30px 30px;

}
.ship-form input,textarea{
    display: block;
    margin-top: 30px;
    padding: 5px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: rgba(248, 197, 197, 0.5);
}
.error{
    color: red;
}
.formReforming{
    margin: 80px 30px;
}
hr {
    display: block;
    height: 10px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
textarea{
    margin-top: 30px !important;
    height: 70px;
}
.shipmentBtn{
    background-color: red !important;
}