.imageDecoration{
    width: 170px;
    height: 105px;
    padding-top: 20px;
}
.qunatityDecoration{
    margin-left: 40px;
    margin-top: 50px;
}
.cartOption{
    

  margin:0;
  padding:0;
  padding-left: 60px;
  padding-top: 20px;
 

}
